.subfooter-secondrow {
    /* position: absolute; */
    /* width: 100%; */
    height: 290px;
    left: 0px;
    /* top: 1930px; */
    background: linear-gradient(180deg, rgba(31, 31, 31, 0.89) 0%, #000000 119.66%);
    border: 1px solid #D5D5D5;
}
.whiteanchor a, .whiteanchor a:hover {
    color: #CCC;
}
.footer1 {
    /* position: absolute; */
    height: 167.5px;

    margin-top: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    color: #D5D5D5;
}
.fleft {
    float: left;
}
.subfooter-secondrow {
    padding: 55px;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.clearfloat, img {
    width: 300px;
    height: 35px;
}
.ms-n5 {
    position: relative;
    top: -38px;
    margin-left: 71%;
    color: #0091D8;
}
.emailbox{
    width: 80%;
}