<div class="subfooter-secondrow row">
    <div class="elgg-col-1of4 fleft col-4 footer1">
		<h6>Get Updates to your Inbox</h6>
        <input class="form-control border-end-0 border emailbox" type="search" placeholder="Enter your email address" id="example-search-input">
		<span class="input-group-append">
			<button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
				<i class="fa fa fa-long-arrow-right"></i>
			</button>
		</span>
	</div>
	<div class="elgg-col-1of4 fleft col footer1">
		<!--<h3>How we work?</h3>-->
		<ul class="whiteanchor">
			<li><a href="about.html">About Us</a></li>
			<li><a href="#">Fees</a></li>
			<li><a href="#">Blogs</a></li>
			<li><a href="#">News / Press release</a></li>
			<li><a href="terms.html">Terms &amp; Conditions</a></li>
			<li><a href="privacy.html">Privacy Policy</a></li>
		</ul>	
	</div>
	<div class="elgg-col-1of4 col fleft footer1">
		<!--<h3>What you can do?</h3>-->
		<ul>
			<li>Explore Causes / Events</li>
			<li>Register Causes / Events</li>
			<li>Register Non profits</li>
			<li>Donate to Nonprofits</li>
			<li>Invite friends</li>
			<li>Become a Konnector</li>
		</ul>	
	</div>
	<div class=" col fleft footer1">
		<!--<h3>Contact Us</h3>-->
		<ul>
			<li class="email">support@konnectme.org</li>
			<li class="web">http://www.konnectme.org/</li>
            <hr>
			<div class="mts clearfloat"><a class=""><img src="../../../assets/img/cards.png" class="bstooltip" alt="Secure payment systems" width="215" height="23" data-original-title="Secure payment systems"></a></div>
		</ul>	
	</div>
</div>