.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{    
    background: #212121;
  }
  /* Added by Soujanya */
  .elgg-heading-site img {
      width: 170px;
      margin-left: 15%;
      padding: 20px;
  }
    #toggle {
   
      height: 30px;
      left: 75%;
      margin: 10px auto;
      position: absolute;
      top: 32%;
      width: 28px;
      cursor: pointer;
      
  
  }
  
  #toggle div {
    width: 100%;
    height: 5px;
    background: white;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  
  #toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  #toggle.on .two {
    opacity: 0;
  }
  
  #toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  
  .menu {
    color: #ffffff;
    padding: 10px 0px;
    width:100%;
    margin-left:15%;
    text-align: left;
  }
  .desktop-menu{ display:inline-block;float:left;}
  .mobile-menu{ display:none;}
  .elgg-page-header .elgg-inner .fright{float:none;}
  .elgg-menu > li {
    float: none !important;
    left: 0 !important;
    position: relative;
}
  @media (min-width: 320px) and (max-width: 768px) {
      .desktop-menu{ display:none !important;}
      .mobile-menu{ display:block !important;}
      
      .elgg-menu-righttop-default {
      background: #383838 none repeat scroll 0 0;
      bottom: 0;
      display: inline-block;
      height: 100% !important;
      left: 0;
      margin-top: 90px;
      position: relative;
      width: 100%;
      padding-bottom:10px;
  }
  
  }

  .menu-items a{
    color: white;
    margin-left:5%;
  }

  /* border-box */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Undoes normalize.css setting box-sizing to content-box */
input[type="search"] {
  box-sizing: border-box;
}

body {
  background-color: #EE6E73;
}


.search {
  position: relative;
  display: flex;
  font-weight: 300;
  color: #555;
  width: 100px;
}

.Search-box {
  flex: 1 0 auto;
  width: 25%;
  height: 40px;
  border: 0;
  border-radius: 100px;
  padding: 15px;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, .3);
  transition: all .15s ease-in-out;
}
.Search-box:focus {
  flex: 1 0 90%;
  margin: 0;
  outline: 0;
}


.searchspan{
    position: relative;
    right: 3%;
    font-size: 20px;
    transition: all .15s ease-in-out;
    color: black;
}
.Search-box:focus + .Search-label {
  transform: translateX(12px);
}
.activebutton{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(0, 195, 255);
}