<div class="elgg-page elgg-page-default">

    <mat-toolbar color="black">
        <mat-toolbar-row>

            <div class="elgg-col-1of4 fleft">

                <a class="elgg-heading-site" href="http://KonnectMe.org/">

                    <img src="http://KonnectMe.org/mod/kme/img/sitelogo.png">

                </a>

            </div>
            <div class="menu menu-items">                
                <a mat-button [routerLink]="'/home'" routerLinkActive="activebutton"> Home </a>
                <a mat-button [routerLink]="'/causes'" routerLinkActive="activebutton"> Causes </a>
                <a mat-button [routerLink]="'/events'" routerLinkActive="activebutton"> Events </a>
                <a mat-button [routerLink]="'/non-profits'" routerLinkActive="activebutton"> Non-Profits </a>
                
                <a>
                    <input placeholder="  search..." class="Search-box" type="search">
                    <span class="fa fa-search searchspan"></span>
                </a>
                                         
            </div>
                    
        </mat-toolbar-row>
    </mat-toolbar>
</div>