.kme_index_intro {
    overflow: auto;
    width: 100%;
}
.kme_index_intro {
    padding: 6% 2% 6% 10%;
    /* background: transparent url(http://KonnectMe.org/mod/kme/img/marathon_background.png) repeat-x; */
    background-image: url(../../../assets/img/marathon_background.png), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
}
.kme_index .elgg-inner {
    width: 100% !important;
}

#sevathon {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    color: #FFE600;
}

#marathon_addr {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
}
#center_div, #event_center_div {
    vertical-align: baseline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border-left:1px solid #959595;
    padding-left: 54px;
}
.center_div_pad {
    padding: 3%;
}
.right_align {
    text-align: right;
    margin-top: 16px;
    padding-right: 60px;
}
#right_div {
    padding: 15px 14% 2px 2%;
    border-left: 1px solid #959595;
}
.log_reg {
    padding: 3%;
    width: 182px;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 16px;
    background: #0091D8;
    border: 0.1px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
}
.button_pad {
    margin: 1%;
}
.know_more {
    padding: 3%;
    width: 182px;
    box-sizing: border-box;
    margin-top: 10%;
    font-family: 'Poppins';
    font-size: 16px;
    background: #0091D8;
    border: 0.1px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
}
.new_div {
    /* position: absolute; */
    width: 100%;
    /* height: 63px; */
    left: 0px;
    padding: 13px;
    background: #FF7A00;
}
.new_div_text {
    padding: 0 4%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    /* line-height: 50px; */
    color: #FFFFFF;
}
.news_left {
    display: inline-block;
    margin-top: 100px;
    width: 50%;
}
.new_title {
    margin-left: 6.12%;
    right: 54.14%;
    top: 27.34%;
    bottom: 67.9%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    color: #000000;
    /* height: 105.70834350585938px; */
    /* width: 615.3152465820312px; */
    border-radius: nullpx;
}
.new_content {
    margin-left: 6.12%;
    right: 58.61%;
    top: 31.49%;
    bottom: 67.3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* text-align: center; */
    color: #000000;
    /* height: 27px; */
    /* width: 547px; */
    left: 79px;
    top: 699px;
    border-radius: nullpx;
}
.btn_enter_now {
    box-sizing: border-box;
    width: 204px;
    height: 47.08px;
    margin-left: 6.12%;
    margin-top: 20px;
    color: #FFFFFF;
    background: #0091D8;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}
.img_news {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 0px;
}
.news_right {
    float: right;
    width: 50%;
    /* display: inline-block; */
}
.white_background {
border-bottom:  1px dashed #8F8C8C;
}
