
<div class="elgg-inner">
    <div class="container_fluid  kme_index_intro">
	<div class="col-md-12 col-sm-12 col-xs-12 row ">
			<div class="col-md-4 col-sm-4 col-xs-12 home-intro-text right_align">		
			<h4 class="" id="sevathon">SEVATHON 2022</h4>	
			<div class="" id="marathon_addr">Half Marathon, 10K - 5K Walk or Run,<br> Yoga - 27/54/108 Sun Salutations,<br> Dance-A-thon</div>
			</div>
			
		<div class="col-md-4 col-sm-4 col-xs-12 " id="center_div">
		<div class="col-md-12 col-sm-12 col-xs-12 row center_div_pad"><div class="col-md-2 col-sm-2 col-xs-2"><img class="calander" src="../../../assets/img/calander.png"></div><div class="col-md-10 col-sm-10 col-xs-10 savathon_text">&nbsp;&nbsp;28 August,2022</div></div>
		<div class="col-md-12 col-sm-12 col-xs-12 row center_div_pad"><div class="col-md-2 col-sm-2 col-xs-2"><img class="time" src="../../../assets/img/clock_new.png"></div><div class="col-md-10 col-sm-10 col-xs-10 savathon_text">&nbsp;&nbsp;6:30AM</div></div>
		<div class="col-md-12 col-sm-12 col-xs-12 row center_div_pad"><div class="col-md-2 col-sm-2 col-xs-2"><img class="location_id" src="../../../assets/img/location.png"></div><div class="col-md-10 col-sm-10 col-xs-10 savathon_text">&nbsp;&nbsp;Vasona Park, Los Gatos, CA</div></div>
		</div>

		<div class="col-md-4 col-sm-4 col-xs-12" id="right_div">
		<div class="col-md-12 button_pad"><a href="event/all.html"><input class="log_reg" type="button" value="Register Now"></a></div>
		<div class="col-md-12 button_pad"><a href="event/view/3451499/sevathon-2022.html#.YvXfD3ZByM8"><input class="know_more" type="button" value="Know More"></a></div>
		</div>
</div>
</div>
</div>
<div class="new_div col-md-12 col-sm-12 col-xs-12">
	<span class="new_div_text">KonnectMe Sweepstakes - Our featured opportunity</span>
</div>
<div *ngFor="let data of homeData" class="white_background row col-md-12 col-sm-12 col-xs-12">
	<div class="news_left col-md-6 col-sm-6 col-xs-12">
	<div class="new_title">{{data.heading}}</div>
	<div class="new_content">{{data.para}}</div>
	<input type="button" value="Enter Now" class="btn_enter_now">
	</div>
	<div class="news_right col-md-6 col-sm-6 col-xs-12"><img class="img_news" [src]="data.img"></div>
</div>
