.kme_index_intro {
    overflow: auto;
    width: 100%;
}
.kme_index_intro {
    padding: 6% 2% 6% 10%;
    /* background: transparent url(http://KonnectMe.org/mod/kme/img/marathon_background.png) repeat-x; */
    background-image: url(../../../assets/img/marathon_background.png), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
}
.kme_index .elgg-inner {
    width: 100% !important;
}

#sevathon {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    color: #FFE600;
}

#marathon_addr {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
}
#center_div, #event_center_div {
    vertical-align: baseline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    border-left:1px solid #959595;
    padding-left: 54px;
}
.center_div_pad {
    padding: 3%;
}
.right_align {
    text-align: right;
    margin-top: 16px;
    padding-right: 60px;
}
#right_div {
    padding: 15px 14% 2px 2%;
    border-left: 1px solid #959595;
}
.log_reg {
    padding: 4%;
    width: 182px;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 20px;
    background: #0091D8;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
}
.button_pad {
    margin: 1%;
}
.know_more {
    padding: 4%;
    width: 182px;
    box-sizing: border-box;
    margin-top: 10%;
    font-family: 'Poppins';
    font-size: 20px;
    background: #0091D8;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
}
.new_div {
    /* position: absolute; */
    width: 100%;
    /* height: 63px; */
    left: 0px;
    padding: 22px 0 22px 0;
    background: #FF7A00;
    display: inline-flex;

}
.new_div_text {
    padding: 0 4%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* line-height: 50px; */
    color: #FFFFFF;
    padding-top: 22px;
    padding-left: 70px;
}
.icon-events {
   
        background-image : url(../../../assets/img/Vector.png);
        background-size: cover;
        display: inline-block;
        height: 17px;
        width: 14px;
      
}
.event-btn {
    background: #00A4D8;
    color: white;
    /* line-height: 19px; */
    /* font-weight: 600; */
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    width: 202px;
    height: 57px;

}
.part-1 {
    background: linear-gradient(180deg, #363430 0%, #000000 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    padding-right: 0;
}
.part-1-text {
    color: #FFFFFF;
    padding: 40px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
}
.spread {
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;

color: #FFFFFF;
}
.spread-word {
    padding-top: 200px;
}
.share-link {
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
padding-top: 28px;
}
::ng-deep .mat-tab-label-active {
    height: 61px !important;
    min-width: 287px !important;
    font-family: 'Poppins' !important;

font-weight: 700 !important;
font-size: 14px !important;
line-height: 16px !important;
color: #0091D8 !important;
text-transform: uppercase;
}
::ng-deep .mat-tab-label {
    height: 61px !important;
    min-width: 287px !important;
    font-family: 'Poppins' !important;

font-weight: 700 !important;
font-size: 14px !important;
line-height: 16px !important;

text-transform: uppercase;
}

::ng-deep .mat-tab-body-content {
 
    overflow: hidden !important;
}
.select-tick {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;

}
.event-reg {
    padding-top: 50px;
    padding-left: 20px;
}
.price {
    margin-bottom: 0;
    margin-top: 10px;
}


.custom-scroll-bar{
    height:40vh;
    overflow-y:scroll;
    overflow-x: hidden;
}

.custom-scroll-bar::-webkit-scrollbar{
    width: 5px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb{
  background: rgba(0, 164, 216, 0.2);
}
::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    color: #0091D8;
    min-width: 40px !important;
  }

  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
    color: #0091D8;
  }
  ::ng-deep  .mat-form-field-outline-gap  {
    border-top: 1px solid #0091D8 !important;
    border-bottom: 1px solid #0091D8 !important;
    color: #0091D8;
  }
    
  ::ng-deep  mat-form-field {
    padding-right: 20px;
    font-size: 12px !important;
  }
  ::ng-deep  mat-form-field ::placeholder {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
    color: #585858 !important;
  }
  ::ng-deep  .mat-form-field-infix {
    width: 200px !important;
  }

  ::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label{
  display: none !important;
}

.waiver-form{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    
    color: #575757;
}

.waiver-form-head {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

color: #312F2F;
}

.waiver-form-text {
    background: #FBFBFB;
border: 1px solid #E7E7E7;
border-radius: 18px;
padding: 14px;
}
.accept-form {
    padding-top: 26px;
}
::ng-deep  .mat-checkbox-frame { 
    border-color: #0091D8;
}

.add-reg {
    width: 208px;
height: 48px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: center;

color: #FFFFFF;
    background: #00A4D8;
border: 1px solid #FFFFFF;
border-radius: 30px;
margin-right: 20px;
}
.finish-reg {
    background: #0091D8;
border: 1px solid #FFFFFF;
border-radius: 30px;
width: 221.71px;
height: 48px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: center;

color: #FFFFFF;
}
.finish-buttons {
    padding-top: 147px;
    padding-left: 230px;
}
.upcoming-events {

height: 254px;
    background: #EBEBEB;
}
.up-events {
    padding: 50px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #000000;

}
.see-all {
    float: right;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
}
.partners {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
}
.partner-sec {
    display: inline-flex;
}