<div class="elgg-inner">
    <div class="container_fluid  kme_index_intro">
        <div class="col-md-12 col-sm-12 col-xs-12 row ">
            <div class="col-md-6 col-sm-6 col-xs-12 home-intro-text right_align">
                <h4 class="" id="sevathon">SEVATHON 2022</h4>
                <div class="" id="marathon_addr">Half Marathon, 10K - 5K Walk or Run,<br> Yoga - 27/54/108 Sun
                    Salutations,<br> Dance-A-thon</div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 " id="center_div">
                <div class="col-md-12 col-sm-12 col-xs-12 row center_div_pad">
                    <div class="col-md-2 col-sm-2 col-xs-2"><img class="calander"
                            src="../../../assets/img/calander.png"></div>
                    <div class="col-md-10 col-sm-10 col-xs-10 savathon_text">&nbsp;&nbsp;28 August,2022</div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 row center_div_pad">
                    <div class="col-md-2 col-sm-2 col-xs-2"><img class="time" src="../../../assets/img/clock_new.png">
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 savathon_text">&nbsp;&nbsp;6:30AM</div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 row center_div_pad">
                    <div class="col-md-2 col-sm-2 col-xs-2"><img class="location_id"
                            src="../../../assets/img/location.png"></div>
                    <div class="col-md-10 col-sm-10 col-xs-10 savathon_text">&nbsp;&nbsp;Vasona Park, Los Gatos, CA
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="registration row">
    <div class="part-1 col-md-6">
        <div class="new_div col-md-12 col-sm-12 col-xs-12">
            <p class="new_div_text">Sevathon 2022 Non-Profit Registration </p>
            <button class="event-btn"><i class="icon-events"></i>&nbsp;<span class="event-dash">Events
                    Dashboard</span></button>
        </div>
        <div class="part-1-text">
            <p>ICC Sevathon provides a very attractive opportunity to all the non-profits to plan such an event without
                incurring any overhead costs. This event will help the organizations to focus on spreading awareness
                about their cause and be able to do some fundraising at the same time. </p>

            <p>Please visit iccsevathon.org for details of the benefits a Non Profit Partner receives upon registration.
            </p>
            <p> Non-Profit registration fee is $300.</p>
            <ul>
                <li>
                    Partners with more than 10 registrations will be eligible for revenue share.
                </li>
                <li>
                    Partners with more than 50 participants in combined activities will receive a complimentary 10'x10'
                    booth with 1 table and 2 chairs, at the event.
                </li>
                <li>
                    For Partners with less than 50 participants, ICC can provide a booth at an additional charge of
                    $200.
                </li>
                <li>
                    A 10'x10' booth with 1 table and 2 chairs will be available at a cost of $550 to Businesses.
                </li>
            </ul>

            <p>Please make sure you choose the booth option which you prefer to make sure you get a booth or allocated
                space for your own booth at the event. </p>

            <div class="spread-word">
                <h2 class="spread">Spread the Word</h2>
                <div>
                    <img src="../../../assets/img/bxl_youtube.png" alt="">&nbsp;&nbsp;
                    <img src="../../../assets/img/brandico_twitter-bird.png" alt="">&nbsp;&nbsp;
                    <img style="height: 22px" src="../../../assets/img/bxl_facebook.png" alt="">&nbsp;&nbsp;
                    <img style="height: 22px;" src="../../../assets/img/akar-icons_linkedin-v2-fill.png" alt="">
                </div>
                <p class="share-link">or share this link</p>
                <a href="http://KonnectMe.org/sevathon-2022-non-profit-registration/	">http://KonnectMe.org/sevathon-2022-non-profit-registration/
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <mat-tab-group>
            <mat-tab label="Event Registration">
                <div class="event-reg row">

                    <div class="col-md-4">
                        <p class="select-tick">Select Ticket</p>
                        <mat-list role="list" #shoes class="custom-scroll-bar">
                            <mat-list-item role="listitem"
                                *ngFor="let x of [300,500,550,350,200,250,100,150,190]; let i = index">
                                <mat-radio-button color="primary" [checked]="i == defaultSelected" [value]="i"
                                    (change)="selection = $event.value">

                                    <p class="price"><strong>${{x}}</strong></p>
                                    <p>non profit registration</p>
                                </mat-radio-button>
                            </mat-list-item>
                        </mat-list>
                    </div>
                    <div class="col-md-8">
                        <p class="select-tick">Sevathon 2022 Non-Profit Registration Non-Profit partners</p>
                        <div>
                            <div class="select-pool">
                                <mat-form-field appearance="outline">
                                    <mat-label>Choose a option</mat-label>
                                    <mat-select>
                                        <mat-option value="html"> HTML </mat-option>

                                        <mat-option value="js">JAVASCRIPT</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Full Name*">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Last Name*">
                            </mat-form-field>
                        </div>
                        <div>

                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Email Address*">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="ALternative Email Address*">
                            </mat-form-field>
                        </div>
                        <div>

                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Phone Number*">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="ALternative Phone Number*">
                            </mat-form-field>
                        </div>
                        <div>

                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Name Of Non-profit Orgination*">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Non-Profit paypalid*">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="waiver-form">
                        <h3 class="waiver-form-head">Waiver form</h3>
                        <p class="waiver-form-text">Congratulations on your decision to partner with the ICC & other
                            community organizations for ICC
                            Sevathon 2022. We would also like to extend a very warm welcome to your team. We are excited
                            to
                            work with you and it is imperative we work together to make this a grand success! Partnering
                            with community organizations is a great way for the ICC to reach out to the community and
                            ICC
                            looks forward to continued engagement with its Partners to help build the </p>
                    </div>
                    <div class="accept-form">
                        <mat-checkbox color="primary">
                            I agree to the terms and conditions
                        </mat-checkbox>

                    </div>
                    <div class="finish-buttons">
                        <button class="add-reg">Add Registrants</button>
                        <button class="finish-reg">Finish Registration</button>
                    </div>
                </div>

            </mat-tab>

            <mat-tab label="Volunteer Registration"> Content 2 </mat-tab>
        </mat-tab-group>

    </div>
</div>
<div>
    <app-preview-registrant></app-preview-registrant>
</div>

<div class="upcoming-events row">
    <div class="up-events col-md-6">
        <p>Upcoming Events</p>
        <p style=" text-align: center;
    line-height: 100px;">No Upcoming Events</p>
    <div style="    display: inline-flex;
    width: 1px;
    height: 100px;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
    float: right;
    bottom: 125px;">
        <hr style="margin: 0px 0px 0px 12.5px;">
      </div>
    </div>
    
    <div class=" up-events col-md-6">
        <p style="display:inline-flex">Non-Profit Partners</p> <span class="see-all">See All</span>
     <div class=" row">
        <div class="partner-sec col-md-4"><img src="../../../assets/img/AM2.png" alt=""><span class="partners">Taarika Foundation</span> </div>
        <div class=" partner-sec col-md-4"><img src="../../../assets/img/AM1.png" alt=""> <span class="partners">American Association 
            of Social Advancement of India</span> </div>
        <div class="partner-sec col-md-4"><img src="../../../assets/img/AM2.png" alt=""> <span class="partners">Touch A Life Foundation</span> </div>
     </div>
    </div>

</div>