<div class="preview row">
    <b>Preview Registrants</b>
    <div class="row">
        <div class="col-md-9">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let registrant of registrants">
                    <ng-template carouselSlide [id]="registrant.id">
                        <div class="registrant col-md-3">
                            <span class="close-btn">&times;</span>
                            <div class="row registrant-content">
                                <div class="col-md-6">
                                    <span><b>{{registrant.price}}</b></span>
                                    <p class="f12">{{registrant.type}}</p>
                                </div>
                                <p class="col-md-6"><b>{{registrant.seva}}</b></p>
                                <div class="col-md-12">
                                    <b>{{registrant.name}}</b>
                                    <p class="f12 mb-0">{{registrant.email}}</p>
                                    <p class="f12">{{registrant.phone}}</p>
                                </div>
                                <div class="col-md-12">
                                    <b>{{registrant.place}}</b>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <div class="col-md-3">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">                
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Price </th>
                  <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Registrants </th>
                  <td mat-cell *matCellDef="let element" style="color: #0091D8;"> {{element.registrants}} </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Total Price </th>
                  <td mat-cell *matCellDef="let element" style="color: #0091D8;"> {{element.totalPrice | currency }} </td>
                  <td mat-footer-cell *matFooterCellDef>{{ calculateTotal() | currency }}</td>                  
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row class="sticky-footer" *matFooterRowDef="displayedColumns"></tr>
              </table>
              <div class="outerBtns">
                <div class="inner">
                    <input type="text" list="staticUserIds" class="coupon" placeholder="Apply Coupon Here"/>
                    <datalist id="staticUserIds">
                        <option>1000</option>
                        <option>1100</option>
                        <option>1110</option>
                        <option>1200</option>
                        <option>1220</option>
                        <option>1340</option>
                        <option>1567</option>
                        <option>1678</option>
                        <option>1789</option>
                    </datalist>
                </div>
                <button class="inner finish_button">Finish Registration</button>             
              </div>
        </div>
    </div>    
</div>