.preview {
    margin: 30px 60px;
}

.registrant {
    margin-top: 30px;
    position: relative;
    min-height: 200px;
    width: 95%;
    border: 1px solid #0091D8;
    border-radius: 15px;
    background-color: #ECFAF8;
    margin-right: 10px;
}

.close-btn {
    position: absolute;
    right: 10px;
    font-size: 30px;
    font-weight: lighter;
    color: #0091D8;

}

/* .registrant::after{
    display: inline-block;
    content: "\00d7";
  } */
.registrant-content {
    margin: 40px 10px;
}

.f12 {
    font-size: 12px;
}

p .f12 {
    padding-bottom: 0px;
}

table {
    width: 120%;
    margin-top: 15px;
    box-shadow: none !important;
}

td.mat-cell {
    border-bottom-style: none;
    padding: 10px;
}

th.mat-header-cell {
    border-bottom-style: none;
    padding: 5px;
}

.mat-footer-row {
    /* row border */
    border-top: 1px solid lightgray;
}

.vl {
    border-left: 1px solid #0091D8;
    height: 500px;
}

.finish_button {
    padding: 3%;
    width: 182px;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 16px;
    background: #0091D8;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
}

.outerBtns {
    width: 130%;
    text-align: center;
}

.inner {
    display: inline-block;
    margin-right: 6%;
}
.coupon{
    padding: 6%;
    border-radius: 30px;
    border: 1px solid #0091D8;
}
.owl-stage-outer{
    padding-bottom: 10px;
}